<div class="page-layout">
  <header class="navbar">
    <div class="navbar-brand">
      <img src="/assets/logo.svg" alt="CultivaTech Logo" class="brand-logo" />
    </div>

    <nav class="navbar-nav">
      <button class="btn-solid" (click)="onNavigateToSignUp()">{{"sign-in.submit.click-3" | translate}}</button>
    </nav>
  </header>

  <main class="content-wrapper">
    <app-sign-in-form
      (submitForm)="onSignIn($event)"
      (navigateToSignUp)="onNavigateToSignUp()">
    </app-sign-in-form>
  </main>
</div>
